# Created by .ignore support plugin (hsz.mobi)

.idea
target
target/classes/com/sd/common/
target/classes/com/sd/mapper/BookNoConfigMapper.class
target/classes/com/sd/model/BookNoConfig.class
target/classes/com/sd/service/BookNoConfigService.class
target/classes/com/sd/service/impl/BookNoConfigServiceImpl.class
target/classes/com/sd/service/redisson/
target/generated-sources/
*.class

